<div class="mat-elevation-z8" style="margin: 16px">
  <table mat-table style="width: 100%" matSort aria-label="Versions">
    <ng-container matColumnDef="{{ column }}" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.toUpperCase() }}</th>
      <td mat-cell *matCellDef="let row">{{row[column]}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
